em {
  font-weight: bold;
  font-style: normal;
}

table td {
  padding: 1em;
  max-width: 10em;
  text-align: center;
}

.shape {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.background {
  fill: black;
  stroke: black;
  stroke-width: 2;
}

ol.graphics li {
  display: inline-block;
  margin: 1em;
}
